/****** Ajustes globales y variables *******/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'Twins';
  src: url('/tipografia/Twins-Regular.ttf') format('woff2'),
       url('/tipografia/Twins-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Twins', sans-serif;
  letter-spacing: 0.02em;
}

:root {
    --main-color: #ffffff;
    --font1:'Roboto', sans-serif;
    --cafe_claro: #AF7649;
    --cafe_oscuro: #58290B;
    --blanco: #fff;
    --negro: #000000;
    --marron: #ef8418;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 63%;
    font-family: var(--font1);
}


body{
    background: radial-gradient(#AF7649, #58290B);
    margin: 0;
    min-height: 100vh;
}

/****** Ajustes animacion principal *******/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    background: radial-gradient(#6b401e, #301606); /* cambiar color */
    transition: 1s;
}

.logoani{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoani img{
    top: 250px;
    width: 31rem;
    position: absolute;
}

.bienveani{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida{
    font-size: 6rem;
    color: white;
    font-weight: 800;
}

.letrasb{
    position: relative;
    display: inline-block;
    bottom: -160px;
    opacity: 0;
}

.letrasb.active{
    bottom: 100;
    opacity: 1;
    transition: ease-in-out.5s;
}

.letrasb.fade{
    bottom: 0px;
    opacity: 0;
    transition: ease-in-out .20s;
}

@media(max-width: 992px){
    .bienvenida{
        font-size: 4rem;
        color: white;
        font-weight: 700;
    }

    .logoani img{
        width: 30rem;
    }
}

@media(min-height: 1300px){
    .logoani img{
        width: 50rem;
    }
}

/****** navbar *******/

.logo img{
    width: 20rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.links a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    z-index: 0;
    cursor: pointer;
    padding: 10px 10px;
}

.topBotom a:before, .topBotom a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotom a:before
{
    top: 0px;
    transform: translateY(10px);
}

.topBotom a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotom a:hover:before, .topBotom a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.navbar{
    width: 100%;
    height: 90px;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li a{
    font-size: 1.5rem;
    font-weight: 700;
}


.navbar .logo a{
    margin: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.navbar .links{
    display: flex;
    gap: 4rem;
    margin: 3rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 400px){
    .logo img{
        width: 16rem;
    }
}

@media (max-width: 345px){
    .logo img{
        width: 12rem;
    }
}

/****** dropdown  *******/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown_menu li{
    padding: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.dropdown_menu.open{
    height: 180px;
}

/****** nav and dropdown responsive *******/
@media(max-width: 850px){
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
        margin: 3rem;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/****** header *******/

header{
    position: relative;
    padding: 0 2rem;
}

/****** contenido landing *******/

main{
    margin-top: 5rem;
}

.seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.titulotexto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
    font-weight: 600;
}

.titulo1 h1{
    font-size: 2.7rem;
    font-weight: 700;
}

.secciones{
    margin-top: 7rem;
}

/********* tarjetas funcionamiento *********/

.cardd {
    width: 25rem;
    position: relative;
    height: 25rem;
    perspective: 150rem; 
    border-radius: 32px;
}
  
.card__side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 25rem;
    backface-visibility: hidden;
    transition: all .6s ease;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); 
    border-radius: 32px;
    cursor: pointer;
}
  
.cardd video{
    display: none;
}
  
  
.card__side--front {
    background-color: var(--marron); 
}
.card__side--back {
    transform: rotateY(180deg); 
}
.card__side--back-1 {
    background: var(--marron);
}
.cardd:hover .card__side--front {
    transform: rotateY(-180deg); 
}
.cardd:hover .card__side--back {
    transform: rotate(0); 
}
  
.cardd:hover .card__side--back video{
    transform: rotate(0); 
    display: flex;
}
  
.card1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card1 h4{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    text-align: center;
    color: var(--blanco);
    font-weight: 700;
}
  
.card2 img{
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
}
  
.card2 a img{
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
}
  
.card2 a video{
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
}
  
  

/*********** footer ************/

footer{
    margin-top: 7rem;
    margin-bottom: 5rem;
}

@media (min-width: 1024px){
    footer{
        margin-top: 20rem;
    }
}

footer h2{
    font-size: 1.8rem;
    color: var(--blanco);
    font-weight: 700;
}

footer .iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--blanco);
}

.iconos a i:hover{
    color: var(--marron);
}

.iconos a i{
    font-size: 2.6rem;
}

@media(max-width: 992px){
    .letrasfoo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .iconos{
        display: flex;
        margin-top: 3rem;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    footer h2{
        padding-bottom: 0rem;
    }
}

@media(max-width: 1100px){
    footer h2{
        text-align: center;
    }
    footer .iconos{
        margin-top: 3rem;
    }
}